$brand-900: hsl(240, 19%, 8%);
$secondary:hsl(122, 96%, 40%);
$white : hsl(0, 0%, 100%);

html[data-theme="light"] {
    background-color: $white;
    color: $brand-900;
}


html[data-theme="dark"] {
    background-color: $brand-900;
    color: $white;
}

a {
    color: $secondary;
}