*, *::after, *::before {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  max-width: 60ch;
}

html[data-theme=light] {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(240deg, 19%, 8%);
}

html[data-theme=dark] {
  background-color: hsl(240deg, 19%, 8%);
  color: hsl(0deg, 0%, 100%);
}

a {
  color: hsl(122deg, 96%, 40%);
}

.primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  max-width: 90rem;
  padding-inline: 3rem;
  margin-inline: auto;
}

#primary-header {
  padding-block: 2rem;
}

.cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  min-height: 70vh;
  align-items: center;
  outline: 1px solid hsl(155deg, 49%, 40%);
}

body {
  font-family: "Fira Code", monospace;
  font-weight: 400;
}

a {
  font-family: "Fira Code", monospace;
  font-weight: 500;
}

h1, h2, h3, h4 {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  width: 12rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-image: url(../img/light.svg);
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.nav-link {
  display: inline-flex;
  padding: 0.75rem 1.25rem;
  border: 1px solid hsl(115deg, 49%, 40%);
  border-radius: 0.5rem;
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.author-name {
  font-size: clamp(3rem, 6vw + 1em, 4rem);
  position: relative;
}

.author-name::before {
  content: "<h1>";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: hsla(115deg, 9%, 100%, 0.5);
  left: -2.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.author-name::after {
  content: "</h1>";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: hsla(115deg, 9%, 100%, 0.5);
  right: -3rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.intro-p {
  color: hsl(115deg, 49%, 40%);
}

.fadeIn {
  animation: fadeIn 800ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
